
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.navbar{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(219, 217, 219, 0.4);
    z-index: 10;
}
.title{
    font-size: 30px;
    font-family:'Major Mono Display' ;
    letter-spacing: 8px;
    cursor: pointer;
    margin-top: 15px;
 }
.navbar a{
    float: leFt;
    text-decoration: none;
    color: rgb(115, 132, 100);
    margin-right: 14px;
    margin-left: 10px;
    font-size: 17px;
   
}
a:hover{
    text-decoration: none;

}
.log-in{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
   margin-right: 20px;
   
   
}
.log-in:hover{
    background-color: #c3b59e;
}
.sign-up{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
}
.sign-up:hover{
    background-color: #c3b59e;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ffffff;

}
.forgot-group{
    background: rgb(247, 250, 245);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(143, 155, 132, 0.1);
    width: 50%;
    max-width: 300px;
    height: 380px;
} 
.forgot-group h2{
    margin: 0 0 20px;
    font-size: 24px;
    color: rgb(94, 103, 85);
    text-align: center;
}
.forgot-group h6{
    margin: 0 0 20px;
    font-size: 8.5px;
    color: rgb(94, 103, 85);
    text-align: center;
}
.forgot-group .form-group{
    margin-bottom: 20px;
}
.forgot-group label{
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: rgb(94, 103, 85);
    transform: translateY(150%);
}
.forgot-group input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border:  1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15%;
}
.forgot-group button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(143, 155, 132);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.forgot-group button:hover{
    background-color: rgb(94, 103, 85);
}
.forgot-group .login{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color:rgb(143, 155, 132);
}
.forgot-group .login a{
    color:rgb(94, 103, 85);
    text-decoration: none;
}
.forgot-group .form-group img{
    display: flex;
    margin-top: 10px;
    height: 79px;
    width: auto;
    padding-left: 79px;
   
}
.material-icons{
    color: rgb(143, 155, 132);
    transform: translateY(150%);
    padding-left: 10px;


}
.site-footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(202, 216, 190); 
    color: rgb(143, 155, 132); 
    padding:9px; 
    text-align: center; 
    font-size: 10px; 
    right: 0;
}