.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgb(219, 217, 217);
    z-index: 10;
}
.title{
   font-size: 30px;
   font-family: Arial;
   letter-spacing: 8px;
   cursor: pointer;
   margin-top: 15px;
}
.navbar a{
    float: left;
    text-decoration: none;
    color: rgb(2, 0, 0);
    margin-right: 14px;
    margin-left: 10px;
    font-size: 17px;
   
}
a:hover{
    text-decoration: underline;
    color: rgb(123, 133, 124);
}
.log-in{
    float: right;
    background-color: rgb(72, 160, 232);
    color: white;
    border: none;
    border-radius: 15px;
    width: 83px;
    height: 25px;
    cursor: pointer;
   margin-right: 20px;
   
}
.log-in:hover{
    background-color: rgb(118, 184, 237);
}
.sign-up{
    float: right;
    background-color: gray;
    color: white;
    border-radius: 15px;
    border: none;
    width: 95px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.sign-up:hover{
    background-color: rgb(159, 156, 156);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(219, 223, 238);

}
.login-form{
    background: rgb(242, 247, 247);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;
}
.login-form h2{
    margin: 0 0 20px;
    font-size: 24px;
    color: #7a5f82;
    text-align: center;
}
.login-form .form-group{
    margin-bottom: 20px;
}
.login-form label{
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: #333;
    color: #7a5f82;
}
.login-form input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border:  1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
   
}
.login-form button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #7a5f82;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-form button:hover{
    background-color: #3e2e3c;
}
.login-form .forgot-password{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;

}
.login-form .signup{
    text-align: center;
    font-size: 14px;
    color: #7a5f82;
}
.login-form .forgot-password a{
    text-decoration: none;

}
.login-form .signup a{
    text-decoration: none;
}
