
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(219, 217, 219, 0.4);
    z-index: 10;
}
.title{
   font-size: 30px;
   font-family: 'Major Mono Display';
   letter-spacing: 8px;
   cursor: pointer;
   margin-top: 15px;
}
.navbar a{
    float: leFt;
    text-decoration: none;
    color: rgb(115, 132, 100);
    margin-right: 14px;
    margin-left: 10px;
    font-size: 17px;
   
}
a:hover{
    text-decoration: none;

}
.log-in{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
   margin-right: 20px;
   
   
}
.log-in:hover{
    background-color: #c3b59e;
}
.sign-up{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
}
.sign-up:hover{
    background-color: #c3b59e;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ffffff;

}
.login-form{
    background: rgb(247, 250, 245);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(143, 155, 132, 0.1);
    width: 50%;
    max-width: 300px;
    height: 380px;


}
.login-form h2{
    margin: 0 0 20px;
    font-size: 24px;
    color: rgb(94, 103, 85);
    text-align: center;
}
.login-form .form-group{
    margin-bottom: 20px;
}
.login-form label{
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: rgb(94, 103, 85);
    transform: translateY(150%);
}
.login-form input{
    
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border:  1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15%;

}


.login-form button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(143, 155, 132);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-form button:hover{
    background-color: rgb(94, 103, 85);
}
.login-form .forgot-password{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;

}
.login-form .signup{
    text-align: center;
    font-size: 14px;
    color:rgb(143, 155, 132);
}
.login-form .forgot-password a{
    text-decoration: none;
    color:rgb(94, 103, 85);

}
.login-form .signup a{
    text-decoration: none;
    color:rgb(94, 103, 85);
}
.material-icons{
    color: rgb(143, 155, 132);
    transform: translateY(150%);
    padding-left: 10px;


}
.pic{
    
    border: #c3b59e;
    display:inline-flex;
    margin-top: 0px;
    height: 386px;
    width: auto;
    margin-right: 10px
    
}
.site-footer{
   position:fixed;
   width: 100%;
   bottom: 0;
    background-color: rgb(202, 216, 190); 
    color: rgb(143, 155, 132); 
    padding:9px; 
    text-align: center; 
    font-size: 10px; 
}


