.privacy{
    font-family:  Tahoma, Verdana, sans-serif;
    text-align: center; 
    color: rgb(92, 107, 80);
    font-size: 40px;
    margin-top: 30px;
}
.content{
    text-align: justify; 
    color: rgb(92, 107, 80);
    font-size: 16px;
    line-height: 1.6; 
    margin: 20px 15%;
    margin-top: 10px;
}
.info{
    margin-left: 180px;
    color: rgb(92, 107, 80);
    font-size: 24px;
    margin-top: 20px;
}
.list{
    text-align: justify; 
    color: rgb(92, 107, 80);
    font-size: 16px;
    line-height: 1.6; 
    margin: 20px 18%; 
}
.main{
    margin-top: 16vh;
    
    } 