body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background-color: #e5efe6;
}

h2{
    text-align: center;
    color: #326133;
    margin-bottom: 15px;
}
h4{
    color: #486949;
    margin-bottom: 10px;
}
table{
    width:100%;
    border-collapse: collapse;
    background-color: #c4d8c5;
    box-shadow: #99b59a;
}
table th, table td {
    padding: 12px;
    border: 1px solid #283d29;
    text-align: left;
    color: #283d29;
}

table th {
    background-color: #f2f2f2;
    color: #283d29;
    font-weight: bold;
}

button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    color: #346736;
    border-radius: 4px;
    transition: 0.3s;
}

button.btn-update {
    background-color: #4CAF50;
    color: white;
}


button.btn-:hover {
    background-color: #25602d;
    color: #6f6e6e;

}
button.btn-delete {
    background-color: #682e2c;
    color: white;
}

button.btn-delete:hover {
    background-color: #c33e39;
}

button.btn-disabled {
    background-color: #ccc;
    color: #6f6e6e;
    cursor: not-allowed;
}
