.refunds{
    font-family:  Tahoma, Verdana, sans-serif;
    text-align: center; 
    color: #3c5269;
    font-size: 40px;
    margin-bottom: 60px;
    
}
.paragraph{
    text-align: justify; 
    color: #333;
    font-size: 16px;
    line-height: 1.6; 
    margin: 20px 15%;
    margin-top: 10px;
}
.returning{
    margin-left: 180px;
    color: #3c5269;
    font-size: 24px;
    margin-top: 20px;
}
.goods{
    text-align: justify; 
    color: #333;
    font-size: 16px;
    line-height: 1.6; 
    margin: 20px 18%; 
}
.main{
    margin-top: 16vh;
    
    } 