*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(219, 217, 219, 0.4);

    z-index: 10;
}
.title{
   font-size: 30px;
   font-family: 'Major Mono Display';
   letter-spacing: 8px;
   cursor: pointer;
   margin-top: 15px;
}
.navbar a{
    float: left;
    text-decoration: none;
    color: rgb(115,132, 100);
    margin-right: 14px;
    margin-left: 10px;
    font-size: 17px;
   
}
a:hover{
    text-decoration: none;
}

.log-in{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 20px;  
}
.log-in:hover{
    background-color: #c3b59e;
}
.sign-up{
    float: right;
    background-color: #e2d8c8;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
}
.sign-up:hover{
    background-color: #c3b59e;
}
.image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.img1, .img2 {
    width: 30%; 
    padding-left: 10%;
    padding-right: 10px;
}
.img1 img, .img2 img {
    width: 100%; 
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img2{
    margin-top: 100px;
    margin-right: 10%;
   
}
.img1{
    margin-right: 10%;
}


.text{
    width: 30%; 
    text-align: center; 
    color: black;
}

.text p {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Ephesis', cursive;
}

.text .size {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Lora', serif;
}

.shop{
    background-color: #cdbfa9;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px; 
    padding: 15px 25px;
    text-decoration: none;
    margin-left: 45%;
    margin-top: 800px;  
}
.shop:hover{
     background-color: rgb(178, 167, 167);
     text-decoration: none; 
}
main {
    margin-top: 16vh;
    padding: 20px;
}
.site-footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(202, 216, 190); 
    color: rgb(143, 155, 132); 
    padding:9px; 
    text-align: center; 
    font-size: 10px; 
 }